In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [14]:
final=pd.DataFrame()
for j in range(1,11):
    url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage=requests.get(url,headers=headers).text
    
    soup=BeautifulSoup(webpage,'lxml')
    
    company=soup.find_all('div',class_='company-content-wrapper')
    
    name=[]
    rating=[]
    reviews=[]
    ctype=[]
    hq=[]
    how_old=[]
    employees=[]
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p',class_='rating').text.strip())
        reviews.append(i.find('a',class_='review-count').text.strip())
        ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
        try:
            hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
        except:
            hq.append(np.nan) 
        try:
            how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
        except:
            how_old.append(np.nan)
        try:
            employees.append(i.find_all('p',class_='infoEntity')[3].text.strip())
        except:
            employees.append(np.nan)

    df=pd.DataFrame({'name':name,
           'rating':rating,
           'reviews':reviews,
           'company_type':ctype,
            'Head_Quarters':hq,
           'Company_Age':how_old,
           'No_of_Employee':employees,
        })
final=final.append(df)

C:\Users\yashw\AppData\Local\Temp\ipykernel_1308\2033117705.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df)

In [15]:
final

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee
0,Statestreet HCL ...,3.3,(1.8k Reviews),Private,New Delhi + 13 more,11 years old,5k-10k Employees (India)
1,Lenskart,3.2,(1.8k Reviews),Private,"Faridabad,Haryana + 136 more",13 years old,1k-5k Employees (India)
2,Max Healthcare,4.2,(1.8k Reviews),Partnership,"Delhi/NCR,New Delhi + 52 more",22 years old,1k-5k Employees (India)
3,Tech Mahindra Bu...,3.5,(1.8k Reviews),Public,"Mumbai,Maharashtra + 37 more",20 years old,1k-5k Employees (India)
4,Walmart,4.1,(1.8k Reviews),Private,"Bangalore/Bengaluru,Karnataka + 71 more",14 years old,5k-10k Employees (India)
5,Mankind Pharma,4.2,(1.8k Reviews),Private,"New Delhi,Delhi + 162 more",28 years old,5k-10k Employees (India)
6,AGS Health,4.0,(1.8k Reviews),Private,Washington DC + 29 more,12 years old,10k-50k Employees (India)
7,Zensar Technolog...,3.8,(1.8k Reviews),Public,"Pune,Maharashtra + 19 more",22 years old,5k-10k Employees (India)
8,Square Yards,3.8,(1.8k Reviews),Private,"Gurgaon,Haryana + 37 more",10 years old,1k-5k Employees (India)
9,Fortis Healthcar...,4.0,(1.8k Reviews),Public,"Gurgaon/Gurugram,Haryana + 54 more",27 years old,5k-10k Employees (India)
10,Nestle,4.1,(1.8k Reviews),Public,Vevey + 203 more,64 years old,5k-10k Employees (India)
11,Blue Dart Expres...,4.1,(1.8k Reviews),Public,"Mumbai,Maharashtra + 213 more",40 years old,10k-50k Employees (India)
12,Tata Technologie...,3.7,(1.8k Reviews),Private,Singapore + 41 more,34 years old,5k-10k Employees (India)
13,Landmark Group,4.1,(1.7k Reviews),Private,"Dubai Marina,Dubai + 125 more",50 years old,1k-5k Employees (India)
14,Ola Cabs,3.6,(1.7k Reviews),Private,Bangalore + 87 more,13 years old,501-1k Employees (India)
15,Fiserv,3.7,(1.7k Reviews),Private,"Brookfield,Wisconsin + 25 more",39 years old,5k-10k Employees (India)
16,Birla Sun Life I...,4.3,(1.7k Reviews),Private,"Mumbai,Maharashtra + 322 more",23 years old,10k-50k Employees (India)
17,Future Retail,4.3,(1.7k Reviews),Public,"San Francisco,California + 191 more",36 years old,10k-50k Employees (India)
18,HDFC Sales,4.0,(1.7k Reviews),Private,"Mumbai,Maharashtra + 245 more",19 years old,10k-50k Employees (India)
19,Lifestyle,4.4,(1.7k Reviews),Private,"Bangalore/Bengaluru,Karnataka + 101 more",24 years old,10k-50k Employees (India)
20,Societe Generale,3.8,(1.7k Reviews),Private,"Bangalore/Bengaluru,Karnataka + 12 more",23 years old,1k-5k Employees (India)
21,I Process Servic...,3.9,(1.7k Reviews),Private,"Mumbai,Maharashtra + 242 more",18 years old,1k-5k Employees (India)
22,IGT Solutions,3.4,(1.7k Reviews),Private,"Gurgaon/Gurugram,Haryana + 16 more",25 years old,5k-10k Employees (India)
23,BlackBuck,3.9,(1.7k Reviews),Private,"Bangalore,Karnataka + 261 more",8 years old,501-1k Employees (India)
24,Eureka Forbes,4.0,(1.7k Reviews),Private,"Mumbai,Maharashtra + 150 more",41 years old,5k-10k Employees (India)
25,Rivigo,3.9,(1.7k Reviews),Private,"Gurgaon,Haryana + 145 more",9 years old,1k-5k Employees (India)
26,JMC Projects,4.2,(1.7k Reviews),Public,"Mumbai,Maharashtra + 108 more",41 years old,1k-5k Employees (India)
27,Coforge,3.6,(1.7k Reviews),Public,"Noida,Uttar Pradesh + 27 more",19 years old,10k-50k Employees (India)
28,The Himalaya Dru...,4.1,(1.7k Reviews),Private,"San Francisco,California + 175 more",93 years old,1k-5k Employees (India)
29,UNO Minda,4.0,(1.7k Reviews),Gurgaon + 74 more,65 years old,201-500 Employees (India),NaN